<div class="bg-zinc-900 p-4 rounded w-full max-w-4xl mx-auto">
  <div class="flex flex-col items-center" *ngIf="formStatus === 'loading'">
    <app-mail-send-icon class="text-accent" size="64px"></app-mail-send-icon>
    <span class="mt-4 text-xl font-semibold text-accent">Wysyłanie...</span>
  </div>

  <div
    class="flex flex-col items-center gap-y-4"
    *ngIf="formStatus === 'error'"
  >
    <p class="text-3xl font-bold text-accent">Błąd!</p>
    <div class="text-center text-muted">
      <p class="font-medium">Wystąpił błąd podczas wysyłania wiadomości.</p>
      <p>Proszę spróbować ponownie.</p>
    </div>
    <button
      (click)="resetForm()"
      class="whitespace-nowrap rounded bg-accent px-6 py-3 text-sm font-semibold text-background transition-all hover:scale-105 md:w-auto md:text-base"
    >
      Spróbuj ponownie
    </button>
  </div>

  <div
    class="flex flex-col items-center gap-y-4"
    *ngIf="formStatus === 'success'"
  >
    <app-mail-success-icon
      class="text-accent"
      size="64px"
    ></app-mail-success-icon>
    <div class="text-center">
      <p class="font-medium">Dziękujemy za wiadomość!</p>
      <p class="text-muted">Odpowiemy tak szybko, jak to możliwe.</p>
    </div>
    <button
      (click)="resetForm()"
      class="whitespace-nowrap rounded bg-accent px-6 py-3 text-sm font-semibold text-background transition-all hover:scale-105 md:w-auto md:text-base"
    >
      Wyślij kolejną wiadomość
    </button>
  </div>

  <div *ngIf="!formStatus">
    <form
      class="flex flex-col gap-y-6 items-center"
      (ngSubmit)="onFormSubmit()"
      #contactForm="ngForm"
    >
      <div class="flex flex-col w-full gap-y-2">
        <label for="name" class="text-sm font-medium text-muted"
          >Twoje imię</label
        >
        <input
          class="rounded border bg-zinc-800 p-2 focus:border-accent focus:outline-none"
          [(ngModel)]="name"
          name="name"
          required
          type="text"
        />
      </div>

      <div class="flex flex-col w-full gap-y-2">
        <label for="email" class="text-sm font-medium text-muted"
          >Twój adres e-mail</label
        >
        <input
          class="rounded border bg-zinc-800 p-2 focus:border-accent focus:outline-none"
          [(ngModel)]="email"
          name="email"
          required
          type="email"
        />
      </div>

      <div class="flex flex-col w-full gap-y-2">
        <label for="message" class="text-sm font-medium text-muted"
          >Twoja wiadomość</label
        >
        <textarea
          class="rounded border bg-zinc-800 p-2 focus:border-accent focus:outline-none"
          [(ngModel)]="message"
          name="message"
          required
        ></textarea>
      </div>

      <button
        class="whitespace-nowrap rounded bg-accent px-6 py-3 text-sm font-semibold text-background transition-all hover:scale-105 disabled:scale-100 disabled:opacity-50 md:w-auto md:text-base"
        [disabled]="!name || !email || !message"
        type="submit"
      >
        Wyślij
      </button>
    </form>
  </div>
</div>
