<div class="mx-auto mt-20 flex max-w-[1400px] flex-col gap-y-16 p-4">
  <section id="regulamin">
    <h1
      class="mb-8 text-center text-4xl font-bold capitalize leading-tight tracking-wide text-accent underline underline-offset-8 sm:text-5xl"
    >
      Polityka prywatności
    </h1>
    <ul class="bg-zinc-900 p-4 space-y-4">
      <li *ngFor="let section of privacyPolicyList">
        <h2
          class="text-2xl font-bold leading-tight tracking-wide text-accent sm:text-3xl"
        >
          {{ section.title }}
        </h2>
        <p class="text-base sm:text-lg text-zinc-300">
          {{ section.content }}
        </p>
      </li>
    </ul>
  </section>
</div>
