<section class="flex w-full flex-col items-center text-center" id="galeria">
  <h1 class="mb-4 text-3xl font-bold text-primary md:text-5xl">{{ header }}</h1>
  <p
    *ngIf="isWidget"
    class="mb-6 max-w-lg text-sm italic text-muted md:text-base"
  >
    Zobacz nasze prace i znajdź inspirację.
  </p>

  <div
    *ngIf="images.length"
    class="grid animate-fadeInUp grid-cols-2 gap-4 md:grid-cols-4"
  >
    <div
      *ngFor="
        let image of isWidget ? images.slice(0, 8) : images;
        let last = last
      "
      class="group relative"
      [ngClass]="{
        'cursor-pointer': !(images.length > 8 && last && isWidget)
      }"
      (click)="
        !(images.length > 8 && last && isWidget) &&
          openImageModal(image.imageUrl)
      "
    >
      <div class="relative overflow-hidden rounded">
        <img
          class="h-full w-full object-cover transition-transform duration-500"
          [ngClass]="{
            'group-hover:scale-105': !(images.length > 8 && last && isWidget),
            'aspect-[4/5]': isWidget,
            'aspect-[2/3]': !isWidget
          }"
          [src]="image.imageUrl"
          alt="{{ image.artistId }}"
        />
      </div>

      <div
        class="absolute bottom-0 left-0 w-full bg-gradient-to-t from-background pb-2 pt-8 opacity-0 transition duration-500"
        [ngClass]="{
          'group-hover:opacity-100': !(images.length > 8 && last && isWidget)
        }"
      >
        <a
          class="transition hover:text-accent"
          [routerLink]="'/artysci/' + image.artistId"
        >
          {{ getArtistFullName(image.artistId) }}
        </a>
      </div>

      <div
        *ngIf="images.length > 8 && last && isWidget"
        class="absolute inset-0 z-10 flex flex-col items-center justify-center gap-y-4 bg-black/50"
      >
        <span class="text-5xl">+{{ images.length - 8 }}</span>
        <a
          routerLink="/galeria"
          class="rounded bg-accent px-3 py-2 font-semibold uppercase text-background transition-transform hover:scale-105"
        >
          Zobacz Wszystkie
        </a>
      </div>
    </div>
  </div>

  <app-image-modal
    [imageUrl]="selectedImageUrl"
    [isOpen]="isImageModalOpen"
    (closeModal)="closeImageModal()"
  ></app-image-modal>
</section>
