<section
  class="flex w-full flex-col items-center justify-center text-center"
  id="galeria"
>
  <h1 class="mb-4 text-3xl font-bold text-primary md:text-5xl">{{ header }}</h1>
  <p
    *ngIf="isWidget"
    class="mb-6 max-w-lg text-sm italic text-muted md:text-base"
  >
    Zobacz nasze prace i znajdź inspirację.
  </p>

  <div
    *ngIf="images.length"
    class="grid grid-cols-2 gap-4 md:grid-cols-4 animate-fadeInUp"
  >
    <div
      *ngFor="
        let image of isWidget ? images.slice(0, 8) : images;
        let last = last
      "
      class="group relative overflow-hidden rounded transition-transform duration-500"
      [ngClass]="{
        'hover:scale-105': !(images.length > 8 && last && isWidget)
      }"
      (click)="
        !(images.length > 8 && last && isWidget) &&
          openImageModal(image.imageUrl)
      "
    >
      <div
        class="h-full w-full aspect-[3/4] cursor-pointer transition"
        [ngClass]="{
          'group-hover:scale-105': !(images.length > 8 && last && isWidget)
        }"
      >
        <img
          class="h-full w-full object-cover"
          [src]="image.imageUrl"
          alt="{{ image.artistId }}"
        />
      </div>

      <div
        *ngIf="images.length > 8 && last && isWidget"
        class="absolute inset-0 z-10 flex flex-col items-center justify-center gap-y-4 bg-black/50"
      >
        <span class="text-5xl text-white">+{{ images.length - 8 }}</span>
        <a
          routerLink="/galeria"
          class="rounded bg-accent px-3 py-2 font-semibold uppercase text-background transition-transform hover:scale-105 focus:scale-105 focus-visible:outline-none"
        >
          Zobacz Wszystkie
        </a>
      </div>
    </div>
  </div>

  <app-image-modal
    [imageUrl]="selectedImageUrl"
    [isOpen]="isImageModalOpen"
    (closeModal)="closeImageModal()"
  ></app-image-modal>
</section>
