<section id="opinie" class="flex w-full flex-col items-center">
  <h2 class="mb-2 text-3xl font-bold text-primary md:mb-4 md:text-5xl">
    Opinie naszych klientów
  </h2>
  <p class="mb-6 max-w-lg text-sm italic text-muted md:text-base text-center">
    Poznaj doświadczenia osób, które nam zaufały. Twoja opinia również się
    liczy!
  </p>

  <div class="w-full grid grid-cols-1 gap-4 md:grid-cols-2">
    <div
      *ngFor="let review of reviews"
      class="relative flex flex-col bg-zinc-900 p-4 rounded"
    >
      <div class="flex justify-between items-center mb-2">
        <p class="font-bold text-primary">{{ review.name }}</p>
        <p class="text-xs text-muted">{{ review.date }}</p>
      </div>
      <p class="mb-4 text-sm text-muted">
        Ocena:
        <span class="font-semibold text-accent">{{ review.rate }} / 5</span>
      </p>
      <p>{{ review.content }}</p>

      <button
        *ngIf="isLoggedIn && userReview?.id === review.id"
        (click)="review.id && deleteReview(review.id)"
        class="mt-4 w-min whitespace-nowrap rounded bg-accent px-6 py-3 text-sm font-semibold text-background transition-all hover:scale-105 md:text-base"
      >
        Usuń opinię
      </button>
    </div>
  </div>

  <div
    *ngIf="reviews.length === 0"
    class="mt-4 w-full rounded bg-zinc-900 p-8 text-center text-lg text-muted"
  >
    Brak opinii. Bądź pierwszą osobą, która podzieli się swoim doświadczeniem!
  </div>

  <div
    *ngIf="userReview"
    class="mt-4 w-full rounded bg-zinc-900 p-8 text-center text-lg text-muted"
  >
    Już dodałeś swoją opinię.
  </div>

  <div
    *ngIf="!isLoggedIn"
    class="mt-4 bg-zinc-900 p-4 w-full rounded text-center"
  >
    <p class="mb-4 text-lg text-muted">Zaloguj się, aby dodać opinię.</p>
    <button
      (click)="openModal()"
      class="whitespace-nowrap rounded bg-accent px-6 py-3 text-sm font-semibold text-background transition-all hover:scale-105 md:w-auto md:text-base"
    >
      Zaloguj się
    </button>
  </div>

  <div
    *ngIf="(reviews.length === 0 || !userReview) && isLoggedIn"
    class="bg-zinc-900 w-full rounded p-4 mt-4"
  >
    <h3 class="my-4 text-center text-2xl font-semibold text-accent">
      Dodaj swoją opinię
    </h3>
    <form
      class="flex flex-col items-center gap-4"
      (submit)="addReview(); $event.preventDefault()"
    >
      <div class="flex w-full flex-col gap-2">
        <label for="rate" class="text-lg font-medium">Ocena</label>
        <select
          id="rate"
          [(ngModel)]="newReviewRate"
          class="rounded border bg-background p-2 pr-8 focus:border-accent focus:outline-none"
          required
          name="rate"
        >
          <option value="5">5 - Doskonała</option>
          <option value="4">4 - Bardzo dobra</option>
          <option value="3">3 - Dobra</option>
          <option value="2">2 - Przeciętna</option>
          <option value="1">1 - Słaba</option>
        </select>
      </div>
      <div class="flex w-full flex-col gap-2">
        <label for="content" class="text-lg font-medium">Opinia</label>
        <textarea
          id="content"
          rows="4"
          [(ngModel)]="newReviewContent"
          class="rounded border bg-background p-2 pr-8 focus:border-accent focus:outline-none"
          required
          name="content"
        ></textarea>
      </div>
      <button
        type="submit"
        class="whitespace-nowrap rounded bg-accent px-6 py-3 text-sm font-semibold text-background transition-all hover:scale-105 md:w-auto md:text-base"
      >
        Dodaj Opinię
      </button>
    </form>
  </div>
</section>
