<div class="h-full space-y-8 overflow-y-auto p-4 pb-20">
  <app-upload-artwork-modal
    *ngIf="isModalOpen"
    [artists]="artists"
    (close)="closeModal()"
  ></app-upload-artwork-modal>

  <div class="mx-auto max-w-5xl space-y-8">
    <header class="border-b border-accent pb-4 text-center">
      <h1
        class="text-2xl font-bold uppercase tracking-wide text-accent sm:text-3xl"
      >
        Prace
      </h1>
    </header>
  </div>

  <div class="space-y-4">
    <div
      class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
      *ngIf="images.length"
    >
      <div
        *ngFor="let image of images"
        class="flex flex-col items-center space-y-4 bg-zinc-900 p-4"
      >
        <p class="text-center text-lg font-bold">
          {{ getArtistFullName(image.artistId) }}
        </p>

        <div
          class="relative flex w-full items-center justify-center overflow-hidden bg-background"
        >
          <img
            class="aspect-[3/4] h-full w-full object-cover"
            [src]="image.imageUrl"
            alt="{{ image.artistId }}"
          />
        </div>

        <p class="text-sm uppercase tracking-wide text-accent">
          {{ image.category }}
        </p>

        <div class="flex w-full space-x-2">
          <button
            (click)="deleteImage(image.id, image.imageUrl)"
            class="w-full bg-accent py-2 text-sm font-bold uppercase text-gray-900 transition-transform hover:scale-105"
          >
            Usuń
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="absolute bottom-4 left-1/2 flex -translate-x-1/2 transform justify-center"
  >
    <button
      (click)="openModal()"
      class="hover:bg-accent/90 whitespace-nowrap bg-accent px-6 py-3 text-lg font-bold uppercase text-gray-900 shadow-[0_0_10px_0_#000000] transition-transform hover:scale-105"
    >
      Dodaj Pracę
    </button>
  </div>
</div>
