<footer class="flex w-full flex-col gap-6 bg-zinc-900 p-8 md:flex-row">
  <div class="flex flex-col items-center gap-4 md:items-start w-full md:w-1/3">
    <img
      src="/images/logo-2.png"
      class="hidden w-48 md:block"
      alt="Logo Salon Tatużu"
    />
    <img
      src="/images/logo.png"
      class="block w-48 md:hidden"
      alt="Logo Salon Tatużu"
    />

    <div class="flex gap-4">
      <a
        target="_blank"
        href="https://www.facebook.com/pracowniakolektyw/"
        aria-label="Facebook"
      >
        <app-facebook-icon
          class="transition-colors hover:text-accent"
          size="32px"
        ></app-facebook-icon>
      </a>
      <a
        target="_blank"
        href="https://www.instagram.com/pracowniakolektyw/"
        aria-label="Instagram"
      >
        <app-instagram-icon
          class="transition-colors hover:text-accent"
          size="32px"
        ></app-instagram-icon>
      </a>
    </div>

    <ul
      class="flex flex-col gap-2 text-center text-lg leading-normal text-white md:text-start"
    >
      <li>
        <p class="font-semibold">Poniedziałek - Piątek</p>
        <p class="text-gray-300">09:00 - 16:00</p>
      </li>
      <li>
        <p class="font-semibold">Sobota</p>
        <p class="text-gray-300">09:00 - 16:00</p>
      </li>
      <li>
        <p class="font-semibold">Niedziela</p>
        <p class="text-gray-300">09:00 - 16:00</p>
      </li>
    </ul>
  </div>

  <div
    class="grid w-full grid-cols-1 gap-6 text-center md:w-2/3 md:grid-cols-2 md:text-start xl:grid-cols-3"
  >
    <div class="flex flex-col gap-2 text-white">
      <h2 class="text-xl font-bold">Kontakt</h2>
      <ul class="space-y-1 leading-normal text-gray-300">
        <li>Ulica, Miasto, 25-000</li>
        <li>+48 123 456 789</li>
        <li>kolektyw&#64;kontakt.pl</li>
      </ul>
    </div>

    <div class="flex flex-col gap-2 text-white">
      <h2 class="text-xl font-bold">Przydatne Linki</h2>
      <ul class="space-y-1 leading-normal">
        <li>
          <a
            target="_blank"
            href="#"
            class="text-gray-300 hover:text-white hover:underline"
            >Formularz Kontaktowy</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="#"
            class="text-gray-300 hover:text-white hover:underline"
            >Zespół Artystów</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="#"
            class="text-gray-300 hover:text-white hover:underline"
            >Galeria Tatuaży</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="#"
            class="text-gray-300 hover:text-white hover:underline"
            >FAQ</a
          >
        </li>
      </ul>
    </div>

    <div class="flex flex-col gap-2 text-white">
      <h2 class="text-xl font-bold">Polityka Prywatności</h2>
      <ul class="space-y-1 leading-normal">
        <li>
          <a
            target="_blank"
            href="#"
            class="text-gray-300 hover:text-white hover:underline"
            >Polityka Prywatności</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="#"
            class="text-gray-300 hover:text-white hover:underline"
            >Regulamin</a
          >
        </li>
      </ul>
    </div>

    <div class="flex flex-col gap-2 text-white">
      <h2 class="text-xl font-bold">Bezpieczeństwo i Higiena</h2>
      <ul class="space-y-1 leading-normal">
        <li>
          <a
            target="_blank"
            href="#"
            class="text-gray-300 hover:text-white hover:underline"
            >Nasze zasady bezpieczeństwa i higieny</a
          >
        </li>
      </ul>
    </div>

    <div class="flex flex-col gap-2 text-white">
      <h2 class="text-xl font-bold">Opinie</h2>
      <ul class="space-y-1 leading-normal">
        <li>
          <a
            target="_blank"
            href="#"
            class="text-gray-300 hover:text-white hover:underline"
            >Opinie naszych klientów</a
          >
        </li>
      </ul>
    </div>

    <div class="flex flex-col gap-2 text-white">
      <h2 class="text-xl font-bold">Nasze usługi</h2>
      <ul class="space-y-1 leading-normal">
        <li>
          <a
            target="_blank"
            href="#"
            class="text-gray-300 hover:text-white hover:underline"
            >Usługi</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
