<div class="mx-auto max-w-[1400px] mt-10 min-h-[400px] h-screen">
  <section
    class="flex h-[calc(100%-80px)] flex-col items-center justify-center"
    id="usługi"
  >
    <h2
      class="mb-12 text-4xl font-bold capitalize leading-tight tracking-wide text-accent underline underline-offset-8 sm:text-5xl"
    >
      Nasze Usługi
    </h2>
    <div class="flex flex-wrap items-center justify-center gap-8 md:gap-16">
      <a
        [routerLink]="['/uslugi/tatuaze']"
        class="flex flex-col items-center gap-y-4"
      >
        <img
          class="h-32 w-32 cursor-pointer transition duration-200 hover:scale-105 sm:h-40 sm:w-40 md:h-48 md:w-48"
          src="/images/tatuaze.svg"
          alt="Tatuaże"
        />

        <p class="text-center text-xl font-semibold uppercase md:text-2xl">
          Tatuaże
        </p>
      </a>
      <a
        [routerLink]="['/uslugi/piercing']"
        class="flex flex-col items-center gap-y-4"
      >
        <img
          class="h-32 w-32 cursor-pointer transition duration-200 hover:scale-105 sm:h-40 sm:w-40 md:h-48 md:w-48"
          src="/images/piercing.svg"
          alt="Piercing"
        />

        <p class="text-center text-xl font-semibold uppercase md:text-2xl">
          Piercing
        </p>
      </a>
    </div>
  </section>
</div>
