<div
  class="mx-auto mt-20 flex max-w-[1400px] flex-col items-center gap-y-12 p-4 text-center md:gap-y-16"
>
  <section id="wprowadzenie">
    <h2 class="mb-2 text-3xl font-bold text-primary md:mb-4 md:text-5xl">
      Piercing
    </h2>
    <p class="max-w-2xl text-sm text-muted md:text-base">
      Nasze usługi piercingu to sposób na wyrażenie siebie i podkreślenie
      Twojego stylu. Wykonywane z najwyższą precyzją i dbałością o higienę,
      dostosowujemy każdy zabieg do Twoich preferencji, zapewniając
      bezpieczeństwo i komfort.
    </p>
  </section>

  <section id="proces" class="p-8">
    <h3 class="mb-2 text-3xl font-bold text-primary md:mb-4 md:text-5xl">
      Proces Wykonywania Piercingu
    </h3>
    <p class="max-w-2xl text-sm text-muted md:text-base">
      Każdy zabieg rozpoczynamy od konsultacji, aby zrozumieć Twoje oczekiwania
      i doradzić najlepsze rozwiązania. W trakcie procedury dbamy o higienę i
      Twój komfort, a także szczegółowo omawiamy proces gojenia i pielęgnacji.
    </p>
  </section>

  <section id="porady" class="p-8">
    <h3 class="mb-2 text-3xl font-bold text-primary md:mb-4 md:text-5xl">
      Jak Dbać o Świeży Piercing
    </h3>
    <p class="max-w-2xl text-sm text-muted md:text-base">
      Prawidłowa pielęgnacja świeżego piercingu jest kluczowa dla zapobiegania
      infekcjom i przyspieszenia procesu gojenia. Ważne jest, aby stosować
      odpowiednie środki do czyszczenia i unikać dotykania miejsca zabiegu
      brudnymi rękami.
    </p>
  </section>

  <app-artists-section
    [header]="'Nasi piercerzy'"
    [artists]="piercingArtists"
    [showDescription]="false"
  ></app-artists-section>

  <app-gallery-section
    [header]="'Prace'"
    [images]="piercingImages"
    class="w-full"
  ></app-gallery-section>
</div>
