<div class="mx-auto mt-20 flex max-w-[1400px] flex-col gap-y-16 p-4">
  <section class="text-left" id="regulamin">
    <h2
      class="mb-6 text-5xl font-bold tracking-wide text-accent underline underline-offset-8"
    >
      Regulamin Salonu
    </h2>
    <div class="bg-zinc-900 p-4 pl-6">
      <ol
        class="list-decimal pl-3 text-lg space-y-8 marker:text-accent marker:font-bold"
      >
        <li>
          Zakres Usług Salon oferuje usługi takie jak tatuowanie, piercing oraz
          konsultacje. Każda usługa wykonywana jest przez wykwalifikowanych
          artystów zgodnie z ich umiejętnościami i stylem.
        </li>

        <li>
          Rezerwacje i Zaliczki Zaliczki oraz warunki ich wpłaty są ustalane
          indywidualnie z artystą wykonującym usługę. Terminy odwołania wizyty
          oraz zasady zwrotu zaliczki również są ustalane indywidualnie. Prosimy
          o bezpośredni kontakt z artystą w celu uzgodnienia szczegółów.
        </li>
        <li>
          Wiek Klienta Usługi tatuażu oraz piercingu świadczone są wyłącznie
          osobom pełnoletnim (18 lat i powyżej). Osoby w wieku 16–17 lat mogą
          skorzystać z usług za pisemną zgodą rodzica lub opiekuna prawnego,
          który powinien być obecny podczas wizyty.
        </li>
        <li>
          Przeciwwskazania i Pielęgnacja Klienci zobowiązani są do
          przestrzegania zasad pielęgnacji przekazanych przez salon po wykonaniu
          tatuażu lub piercingu. W przypadku jakichkolwiek nieprawidłowości nie
          wynikających z winy klienta salon oferuje bezpłatną poprawkę tatuażu.
          Reakcje skórne mogą różnić się w zależności od indywidualnych cech
          organizmu; prosimy o konsultację z artystą przed podjęciem decyzji o
          tatuażu.
        </li>
        <li>
          Prawa Autorskie Wszystkie prace wykonane przez artystów w salonie są
          ich oryginalnymi projektami i stanowią dzieła autorskie. Salon
          zastrzega sobie prawo do publikacji zdjęć wykonanych tatuaży i
          piercingów na profilach w mediach społecznościowych, takich jak
          Instagram, w celach marketingowych.
        </li>
        <li>
          Reklamacje Klient ma prawo do zgłoszenia reklamacji w terminie do 14
          dni od wykonania usługi. Reklamacje będą rozpatrywane w przypadku wad
          wynikających z winy salonu lub artysty. Każdy przypadek jest
          rozpatrywany indywidualnie.
        </li>
      </ol>
    </div>
  </section>
</div>
