<nav class="fixed top-0 z-10 h-20 w-full bg-background">
  <div
    class="mx-auto flex h-full max-w-[1400px] items-center justify-between p-4"
  >
    <img src="/images/logo.png" class="h-full" />

    <div class="hidden h-full items-center md:flex">
      <app-nav-links [isSidebar]="false"></app-nav-links>
    </div>

    <app-menu-toggle
      class="md:hidden"
      (toggleSidebar)="toggleSidebar()"
    ></app-menu-toggle>
  </div>
</nav>

<app-sidebar [isOpen]="isSidebarOpen"></app-sidebar>

<div
  class="fixed bottom-0 left-0 right-0 top-20 z-40 bg-black transition-opacity duration-300"
  [ngClass]="{
    'pointer-events-none  opacity-0': !isSidebarOpen,
    'opacity-50': isSidebarOpen
  }"
  (click)="closeSidebar()"
></div>
