<section
  id="uslugi"
  class="fade-in flex w-full flex-col items-center justify-center text-center"
>
  <h2 class="mb-4 text-3xl font-bold text-primary md:text-5xl">Nasze usługi</h2>
  <p class="mb-6 max-w-lg text-sm italic text-muted md:text-base">
    Nasze studio specjalizuje się zarówno w tatuażach, jak i piercingu, oferując
    szeroki zakres usług, które pozwalają wyrazić siebie w unikalny sposób.
  </p>
  <div class="flex gap-8">
    <a
      routerLink="/uslugi/tatuaze"
      class="group flex cursor-pointer flex-col items-center gap-y-4 transition"
    >
      <img
        class="h-32 w-32 transition duration-500 group-hover:scale-105 sm:h-40 sm:w-40 md:h-48 md:w-48"
        src="/images/tattoo-icon.png"
        alt="Tatuaże"
      />

      <p
        class="mb-4 font-semibold uppercase transition group-hover:scale-105 group-hover:text-accent md:mb-6 md:text-xl"
      >
        Tatuaże
      </p>
    </a>
    <a
      routerLink="/uslugi/piercing"
      class="group flex cursor-pointer flex-col items-center gap-y-4 transition"
    >
      <img
        class="h-32 w-32 transition duration-500 group-hover:scale-105 sm:h-40 sm:w-40 md:h-48 md:w-48"
        src="/images/piercing-icon.png"
        alt="Piercing"
      />

      <p
        class="mb-4 font-semibold uppercase transition group-hover:scale-105 group-hover:text-accent md:mb-6 md:text-xl"
      >
        Piercing
      </p>
    </a>
  </div>
</section>
