<section id="artysci">
  <h2
    class="mb-6 text-center text-4xl font-bold tracking-wide text-accent underline underline-offset-8 sm:text-5xl"
  >
    Nasi Artyści
  </h2>

  <div
    class="grid grid-cols-1 gap-4 sm:gap-8 lg:grid-cols-2"
    *ngIf="artists.length"
  >
    <a
      [routerLink]="['/artysci', artist.id]"
      *ngFor="let artist of artists"
      class="group flex cursor-pointer items-center gap-x-4 sm:gap-x-8 bg-zinc-900 p-4"
    >
      <div
        class="flex aspect-square h-24 w-24 min-w-24 overflow-hidden rounded-full sm:h-32 sm:w-32 sm:min-w-32"
      >
        <img
          class="h-full w-full object-cover transition-transform group-hover:scale-105"
          [src]="artist.profileImageUrl"
          alt="{{ artist.name }} {{ artist.surname }}"
        />
      </div>

      <div>
        <p
          class="text-2xl sm:text-3xl font-bold transition-colors group-hover:text-accent"
        >
          {{ artist.name }} {{ artist.surname }}
        </p>
        <p class="mt-2 text-sm sm:text-base text-gray-400">
          {{ artist.biography | slice : 0 : 150 }}...
        </p>
      </div>
    </a>
  </div>
</section>
