<div
  *ngIf="artist"
  class="mx-auto mt-20 flex max-w-full flex-col gap-y-4 p-4 sm:max-w-[1400px]"
>
  <section class="flex flex-col items-center" id="artysta">
    <img
      class="mb-4 h-32 w-32 overflow-hidden rounded-full border-4 border-accent object-cover transition-opacity duration-300 sm:mb-6 sm:h-48 sm:w-48"
      [src]="artist.profileImageUrl"
      alt="{{ artist.name }} {{ artist.surname }}"
    />

    <h2
      class="mb-2 text-center text-4xl font-extrabold tracking-widest text-accent sm:mb-4 sm:text-5xl"
    >
      {{ artist.name }} {{ artist.surname }}
    </h2>
    <p
      class="mb-2 text-center text-2xl font-semibold tracking-widest text-accent sm:mb-4"
    >
      {{ artist.category | titlecase }}
    </p>

    <p
      class="max-w-3xl bg-black/60 p-4 text-center text-base leading-relaxed text-zinc-300 sm:text-lg"
    >
      {{ artist.biography }}
    </p>
  </section>

  <app-gallery-section
    [headerPosition]="'center'"
    [header]="'Prace'"
    [images]="artworks"
  ></app-gallery-section>
</div>
