<div
  *ngIf="artist"
  class="mx-auto mt-20 flex max-w-[1400px] flex-col gap-y-4 p-4"
>
  <section id="artysta" class="p-4">
    <div class="relative mt-8 w-full border-2 border-accent bg-background">
      <div
        class="relative mx-auto flex flex-col items-center gap-6 p-8 bg-gradient-to-b from-black/60 to-transparent"
      >
        <div
          class="h-48 w-48 mb-6 rounded-full overflow-hidden border-4 border-accent shadow-lg transform transition-transform hover:scale-105"
        >
          <img
            class="h-full w-full object-cover"
            [src]="artist.profileImageUrl"
            alt="{{ artist.name }} {{ artist.surname }}"
          />
        </div>

        <h1 class="text-5xl font-extrabold text-accent mb-4 tracking-widest">
          {{ artist.name }} {{ artist.surname }}
        </h1>

        <p
          class="text-lg leading-relaxed text-center text-zinc-300 max-w-3xl bg-black/60 p-4 rounded-lg shadow-md transition-colors hover:bg-black/80"
        >
          {{ artist.biography }}
        </p>

        <div class="flex gap-4 mt-4">
          <!-- Późniejsze linki do social media -->
        </div>
      </div>

      <div
        class="absolute inset-0 -z-10 h-full w-full rotate-3 border-2 border-accent"
      ></div>
    </div>
  </section>

  <section class="p-4">
    <h2 class="text-4xl font-bold text-accent mb-6">Moje prace</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div *ngFor="let artwork of artworks" class="relative overflow-hidden">
        <img
          [src]="artwork.imageUrl"
          alt="Artwork by {{ artist.name }} {{ artist.surname }}"
          class="h-full w-full object-cover transition-transform duration-300 hover:scale-105"
        />
      </div>
    </div>
  </section>
</div>
