<div class="mx-auto mt-20 flex max-w-[1400px] flex-col gap-y-16 p-4">
  <section id="tips">
    <h2
      class="mb-6 text-center text-4xl font-bold tracking-wide text-accent underline underline-offset-8 sm:text-5xl"
    >
      Jak dbać o świeży tatuaż?
    </h2>
    <div
      class="space-y-4 rounded-md bg-zinc-900 p-4 text-lg md:p-6 lg:p-8 marker:text-accent"
    >
      <p class="text-lg">
        Pielęgnacja świeżego tatuażu jest kluczowa dla prawidłowego gojenia i
        zachowania intensywnych czerni, cieni i kolorów. Sposób pielęgnacji może
        różnić się w zależności od zastosowanej techniki ochrony: sztucznej
        skóry lub folii spożywczej.
      </p>

      <h4 class="mt-4 text-xl font-semibold text-accent">
        Pielęgnacja tatuażu ze sztuczną skórą:
      </h4>
      <ul class="ml-4 list-disc space-y-2">
        <li>Zdejmij sztuczną skórę po 2-3 dniach pod bieżącą letnią wodą.</li>
        <li>
          Oczyść tatuaż letnią wodą z antybakteryjnym mydłem lub płynem do
          higieny intymnej, a następnie osusz czystym ręcznikiem papierowym.
        </li>
        <li>Nałóż cienką warstwę specjalnego kremu do tatuaży.</li>
        <li>Unikaj bezpośredniego słońca, solarium i sauny.</li>
      </ul>

      <h4 class="mt-4 text-xl font-semibold text-accent">
        Pielęgnacja tatuażu z folią spożywczą:
      </h4>
      <ul class="ml-4 list-disc space-y-2">
        <li>Zmieniać folię co kilka godzin, szczególnie jeśli się zamoczy.</li>
        <li>
          Przed nałożeniem nowej folii delikatnie umyj tatuaż letnią wodą.
        </li>
        <li>Po każdym oczyszczeniu nałóż cienką warstwę kremu do tatuaży.</li>
        <li>Unikaj słońca, solarium i sauny.</li>
      </ul>

      <h4 class="mt-4 text-xl font-semibold text-accent">
        Ogólne zasady pielęgnacji:
      </h4>
      <ul class="ml-4 list-disc space-y-2">
        <li>
          Myj i nawilżaj tatuaż kilka razy dziennie, szczególnie po wysiłku
          fizycznym.
        </li>
        <li>
          Używaj wyłącznie produktów przeznaczonych do pielęgnacji tatuaży.
          Unikaj kosmetyków zawierających alkohol, perfumy i barwniki.
        </li>
        <li>Noś luźne ubrania, które nie będą ocierać o tatuaż.</li>
        <li>Unikaj miejsc o dużym zapyleniu i zanieczyszczeniu.</li>
        <li>Nie drap ani nie ścieraj suchej skóry.</li>
        <li>
          Unikaj intensywnych ćwiczeń, które powodują pocenie się w okolicy
          tatuażu.
        </li>
      </ul>

      <h4 class="mt-4 text-xl font-semibold text-accent">Czego unikać:</h4>
      <ul class="ml-4 list-disc space-y-2">
        <li>
          Unikaj promieniowania UV, które może spowodować blaknięcie tatuażu.
        </li>
        <li>Nie korzystaj z basenów i zbiorników wodnych.</li>
        <li>Unikaj długich kąpieli, które mogą spowolnić proces gojenia.</li>
      </ul>

      <h4 class="mt-4 text-xl font-semibold text-accent">
        Kiedy zgłosić się do tatuatora?
      </h4>
      <p>
        Jeśli zauważysz niepokojące objawy, takie jak silny ból,
        zaczerwienienie, obrzęk, wyciek ropy lub gorączka, natychmiast
        skontaktuj się z tatuatorem.
      </p>

      <p class="mt-4">
        <strong>
          Dobra pielęgnacja tatuażu to inwestycja w jego trwałość i piękno.
          Stosuj się do wskazówek swojego tatuatora, aby cieszyć się swoim
          tatuażem przez wiele lat.
        </strong>
      </p>
    </div>
  </section>
</div>
