<div class="relative h-screen bg-hero-pattern bg-cover bg-center">
  <div class="h-full bg-gradient-to-t from-background to-background/90">
    <div
      class="mx-auto flex h-full max-w-[1400px] flex-col-reverse items-center justify-between"
    >
      <div
        class="grid w-full grid-cols-[min-content_min-content] justify-between whitespace-nowrap p-4 uppercase text-primary grid-rows-[1fr_min-content] md:grid-cols-[min-content_min-content_min-content]"
      >
        <div class="row-span-2">
          <h2 class="font-semibold text-accent md:text-lg">Godziny</h2>
          <div class="flex flex-col gap-y-1 text-sm md:text-base">
            <div class="flex flex-col">
              <span>Poniedziałek - Piątek</span>
              <span class="text-xs text-muted md:text-sm">11:00 - 18:00</span>
            </div>
            <div class="flex flex-col">
              <span>Sobota</span>
              <span class="text-xs text-muted md:text-sm">12:00 - 16:00</span>
            </div>
            <div class="flex flex-col">
              <span>Niedziela</span>
              <span class="text-xs text-muted md:text-sm">Zamknięte</span>
            </div>
          </div>
        </div>

        <div>
          <h2 class="font-semibold text-accent md:text-lg">Adres</h2>
          <p class="text-xs md:text-sm">
            Henryka Sienkiewicza 45,<br />
            25-005 Kielce
          </p>
        </div>

        <div>
          <h2 class="font-semibold text-accent md:text-lg">Telefon</h2>
          <p class="text-sm md:text-base">+48 576 028 525</p>
        </div>
      </div>

      <div
        class="mt-14 flex h-full flex-col items-center justify-center p-4 text-center md:p-8"
      >
        <div class="animate-fadeInUp">
          <img class="mb-2 w-48 md:w-64" src="/images/logo.png" alt="Logo" />
          <div class="mb-4 uppercase md:mb-6 md:text-xl">Salon tatuażu</div>
        </div>
        <p class="max-w-lg italic text-muted animate-fadeInDown">
          "Pracownia Kolektyw to miejsce, w którym pasja do sztuki tatuażu
          spotyka się z indywidualnym podejściem do każdego klienta. Nasz zespół
          doświadczonych artystów tworzy unikatowe projekty, zawsze dopasowane
          do Twoich potrzeb."
        </p>
      </div>
    </div>
  </div>
</div>
