<div class="mx-auto mt-20 flex max-w-[1400px] flex-col gap-y-16 p-4">
  <section id="tips">
    <h1
      class="mb-4 text-center text-4xl font-bold leading-tight tracking-wide text-accent underline underline-offset-8 sm:text-5xl"
    >
      Jak dbać o świeży tatuaż?
    </h1>
    <p class="mx-auto mb-4 max-w-3xl text-center text-lg text-zinc-300">
      Pielęgnacja świeżego tatuażu jest kluczowa dla prawidłowego gojenia i
      zachowania intensywnych czerni, cieni i kolorów. Sposób pielęgnacji może
      różnić się w zależności od zastosowanej techniki ochrony: sztucznej skóry
      lub folii spożywczej.
    </p>
    <ul class="bg-zinc-900 p-4 space-y-4">
      <li *ngFor="let section of aftercareTips">
        <h2
          class="mb-2 text-2xl font-bold leading-tight tracking-wide text-accent sm:text-3xl"
        >
          {{ section.title }}
        </h2>
        <ul
          class="list-disc space-y-1 pl-5 text-base text-zinc-300 marker:text-accent sm:text-lg"
        >
          <li *ngFor="let tip of section.content">{{ tip }}</li>
        </ul>
      </li>
    </ul>
  </section>
</div>
