<app-banner [scrollToSection]="scrollToSection"></app-banner>

<div class="mx-auto flex max-w-[1400px] flex-col gap-y-72 p-4">
  <app-intro-section></app-intro-section>

  <app-services-section
    class="fade-in opacity-0 transition duration-700"
  ></app-services-section>

  <app-gallery-section
    class="fade-in opacity-0 transition duration-700"
    headerPosition="center"
    header="Nasze prace"
    [images]="images"
    [isWidget]="true"
  ></app-gallery-section>

  <app-artists-section
    headerPosition="center"
    header="Nasi artyści"
    [artists]="artists"
  ></app-artists-section>

  <app-contact-section [isWidget]="true"></app-contact-section>

  <app-reviews-section></app-reviews-section>
</div>
