<div
  class="fixed left-0 top-14 z-50 w-full transform bg-background transition-transform md:hidden"
  [ngClass]="{
    'translate-x-0': isOpen,
    '-translate-x-full': !isOpen
  }"
>
  <ul class="flex flex-col text-left">
    <li
      class="flex w-full hover:bg-black/20"
      *ngFor="let link of links"
      [title]="link.title"
    >
      <a
        class="w-full p-4 transition hover:text-accent"
        routerLinkActive="text-accent underline decoration-2 underline-offset-2"
        [routerLink]="link.href"
        (click)="onCloseSidebar()"
        >{{ link.title }}</a
      >
    </li>
    <li
      class="flex w-full text-accent transition-colors hover:bg-accent hover:text-background"
    >
      <button
        class="w-full p-4 text-left"
        (click)="onOpenAuthModal()"
        *ngIf="!isLoggedIn"
      >
        Zaloguj
      </button>
      <button
        class="w-full p-4 text-left"
        (click)="onLogout()"
        *ngIf="isLoggedIn"
      >
        Wyloguj
      </button>
    </li>
  </ul>
</div>

<div
  class="fixed left-0 top-0 z-20 flex h-dvh w-full flex-col transition duration-500 bg-black/50 backdrop-blur-lg"
  [ngClass]="{
    'pointer-events-none opacity-0': !isOpen,
    'opacity-100': isOpen
  }"
  (click)="onCloseSidebar()"
></div>
