<div>
  <header>
    <app-navbar (onLogin)="openAuthModal()"></app-navbar>
  </header>
  <main>
    <div class="relative">
      <img
        src="/images/banner.png"
        class="w-full object-cover object-center h-dvh min-w-full brightness-50"
      />

      <div class="absolute inset-0 flex flex-col justify-end">
        <div
          class="flex w-full flex-col items-center justify-center bg-gradient-to-b from-transparent to-background p-16"
        >
          <button
            (click)="scrollToSection()"
            class="transform bg-accent px-6 py-4 text-lg font-semibold uppercase text-background shadow-md transition-transform hover:scale-105 hover:shadow-lg focus:scale-105 focus:outline-none"
          >
            Poznaj nas!
          </button>
        </div>
      </div>
    </div>

    <div class="mx-auto flex max-w-[1400px] flex-col gap-y-16 p-4">
      <section id="o-nas" class="p-4">
        <div class="relative mt-8 w-full border-2 border-accent bg-background">
          <div
            class="absolute inset-0 h-full w-full bg-cover bg-center opacity-40"
            style="background-image: url('/images/studio.png')"
          ></div>

          <div
            class="relative mx-auto flex flex-col gap-4 p-8 shadow-lg bg-gradient-to-b from-black/60 to-transparent"
          >
            <div>
              <h2
                class="text-4xl font-extrabold tracking-wide text-accent mb-2"
              >
                O Pracowni Kolektyw
              </h2>
              <p class="text-xl leading-relaxed">
                Pracownia Kolektyw to miejsce, w którym pasja do sztuki tatuażu
                spotyka się z indywidualnym podejściem do każdego klienta. Nasz
                zespół doświadczonych artystów tworzy unikatowe projekty, zawsze
                dopasowane do Twoich potrzeb.
              </p>
            </div>

            <div>
              <h3 class="text-3xl font-semibold text-accent mb-2">
                Nasza Misja
              </h3>
              <p class="text-lg leading-relaxed">
                Pragniemy, by każdy tatuaż opowiadał wyjątkową historię. Od
                koncepcji po wykonanie, dbamy o każdy detal, oferując pełne
                wsparcie na każdym etapie. Gwarantujemy profesjonalizm i
                bezpieczeństwo przy realizacji każdego projektu.
              </p>
            </div>

            <div>
              <h3 class="text-xl font-semibold text-accent mb-2">
                Dlaczego my?
              </h3>
              <p class="text-lg leading-relaxed">
                W Pracowni Kolektyw stawiamy na jakość, precyzję i
                niepowtarzalność. W przyjaznej atmosferze tworzymy nie tylko
                tatuaże, ale wyjątkowe dzieła sztuki, które towarzyszą Ci przez
                całe życie.
              </p>
            </div>

            <div class="mt-6">
              <a
                href="/o-nas"
                class="inline-block transform bg-accent px-6 py-4 text-lg font-semibold uppercase text-background shadow-md transition-transform hover:scale-105 hover:shadow-lg focus:scale-105 focus:outline-none"
              >
                Dowiedz się więcej
              </a>
            </div>
          </div>

          <div
            class="absolute inset-0 -z-10 h-full w-full rotate-3 border-2 border-accent"
          ></div>
        </div>
      </section>

      <section id="usługi" class="p-4">
        <h2
          class="mb-28 text-center text-5xl font-extrabold tracking-wide text-accent"
        >
          Nasze Usługi
        </h2>
        <div class="flex justify-center gap-x-16">
          <div class="flex flex-col justify-between gap-y-8">
            <div
              class="flex h-48 w-48 items-center justify-center rounded-full bg-accent"
            >
              <img
                class="cursor-pointer p-12 transition-transform hover:scale-110"
                src="/images/tatuaze.png"
              />
            </div>
            <p class="text-center text-2xl font-semibold uppercase">Tatuaże</p>
          </div>
          <div class="flex flex-col justify-between gap-y-8">
            <div
              class="flex h-48 w-48 items-center justify-center rounded-full bg-accent"
            >
              <img
                class="cursor-pointer p-12 transition-transform hover:scale-110"
                src="/images/piercing.png"
              />
            </div>
            <p class="text-center text-2xl font-semibold uppercase">Piercing</p>
          </div>
        </div>
      </section>

      <section id="galeria">
        <h2 class="text-4xl font-extrabold tracking-wide text-accent mb-4">
          Nasze Prace
        </h2>

        <div
          *ngIf="images.length"
          class="grid grid-cols-2 gap-4 md:grid-cols-3"
        >
          <div
            *ngFor="let image of images.slice(0, 6); let last = last"
            class="relative group overflow-hidden group"
          >
            <img
              class="h-full w-full transform object-cover transition-transform duration-300 group-hover:scale-105"
              [src]="image.path"
              alt="{{ image.artist }}"
            />

            <div
              class="absolute bottom-0 left-0 w-full bg-gradient-to-t from-background p-2 pt-16"
            >
              <p class="transition-colors group-hover:text-accent">
                {{ image.artist }}
              </p>
            </div>

            <div
              *ngIf="last && images.length > 6"
              class="absolute inset-0 flex flex-col items-center justify-center gap-y-4 bg-black/50"
            >
              <span class="text-5xl">+{{ images.length - 6 }}</span>
              <a
                routerLink="/galeria"
                class="cursor-pointer bg-background px-4 py-2 font-bold uppercase text-accent outline outline-1 -outline-offset-1 outline-accent transition-all hover:bg-accent hover:text-background"
                >Zobacz Wszystkie</a
              >
            </div>
          </div>
        </div>
      </section>

      <section id="opinie">
        <h2 class="text-4xl font-extrabold tracking-wide text-accent mb-4">
          Opinie
        </h2>
      
        <div
          *ngIf="reviews.length; else noReviews"
          class="flex flex-col gap-6"
        >
          <div
            *ngFor="let review of reviews"
            class="relative p-6 bg-background border border-accent"
          >
            <div class="flex justify-between items-center mb-2">
              <p class="text-lg font-bold text-accent">{{ review.name }}</p>
              <p class="text-sm text-gray-600">{{ review.date }}</p>
            </div>
            <p class="text-sm mb-2">Ocena: <span class="font-bold">{{ review.rate }}</span> / 5</p>
            <p class="text-lg">{{ review.content }}</p>
          </div>
        </div>
      
        <ng-template #noReviews>
          <p class="text-lg text-gray-500">Brak opinii.</p>
        </ng-template>
      </section>
      
      
    </div>
  </main>
  <app-auth *ngIf="isAuthModalOpen" (closeModal)="closeAuthModal()"></app-auth>

  <app-footer></app-footer>
</div>

<router-outlet />
