<div>
  <header>
    <app-navbar (onLogin)="openAuthModal()"></app-navbar>
  </header>
  <main>
    <div class="relative">
      <img
        src="/images/banner.png"
        class="w-full object-cover object-center h-dvh min-w-full brightness-50"
      />

      <div class="absolute inset-0 flex flex-col justify-end">
        <div
          class="flex w-full flex-col items-center justify-center bg-gradient-to-b from-transparent to-background p-16"
        >
          <button
            (click)="scrollToSection('o-nas')"
            class="transform bg-accent px-6 py-4 text-lg font-semibold uppercase text-background transition-transform hover:scale-105 focus:scale-105 focus:outline-none"
          >
            Poznaj nas!
          </button>
        </div>
      </div>
    </div>

    <div class="mx-auto flex max-w-[1400px] flex-col gap-y-16 p-4">
      <section id="o-nas" class="p-4">
        <div class="relative mt-8 w-full border-2 border-accent bg-background">
          <div
            class="relative mx-auto flex flex-col gap-4 p-8 bg-gradient-to-b from-black/60 to-transparent"
          >
            <div>
              <h2
                class="text-5xl font-extrabold tracking-wide text-accent mb-2"
              >
                O Pracowni Kolektyw
              </h2>
              <p class="text-xl leading-relaxed">
                Pracownia Kolektyw to miejsce, w którym pasja do sztuki tatuażu
                spotyka się z indywidualnym podejściem do każdego klienta. Nasz
                zespół doświadczonych artystów tworzy unikatowe projekty, zawsze
                dopasowane do Twoich potrzeb.
              </p>
            </div>

            <div>
              <h3 class="text-3xl font-semibold text-accent mb-2">
                Nasza Misja
              </h3>
              <p class="text-lg leading-relaxed">
                Pragniemy, by każdy tatuaż opowiadał wyjątkową historię. Od
                koncepcji po wykonanie, dbamy o każdy detal, oferując pełne
                wsparcie na każdym etapie. Gwarantujemy profesjonalizm i
                bezpieczeństwo przy realizacji każdego projektu.
              </p>
            </div>

            <div>
              <h3 class="text-xl font-semibold text-accent mb-2">
                Dlaczego my?
              </h3>
              <p class="text-lg leading-relaxed">
                W Pracowni Kolektyw stawiamy na jakość, precyzję i
                niepowtarzalność. W przyjaznej atmosferze tworzymy nie tylko
                tatuaże, ale wyjątkowe dzieła sztuki, które towarzyszą Ci przez
                całe życie.
              </p>
            </div>

            <div class="mt-6">
              <a
                href="/o-nas"
                class="inline-block transform bg-accent px-6 py-4 text-lg font-semibold uppercase text-background transition-transform hover:scale-105 focus:scale-105 focus:outline-none"
              >
                Dowiedz się więcej
              </a>
            </div>
          </div>

          <div
            class="absolute inset-0 -z-10 h-full w-full rotate-3 border-2 border-accent"
          ></div>
        </div>
      </section>

      <section id="usługi" class="p-4">
        <h2
          class="mb-28 text-center text-5xl font-extrabold tracking-wide text-accent"
        >
          Nasze Usługi
        </h2>
        <div class="flex justify-center gap-x-16">
          <div class="flex flex-col justify-between gap-y-8">
            <div
              class="flex h-48 w-48 items-center justify-center rounded-full bg-accent"
            >
              <img
                class="cursor-pointer p-12 transition-transform hover:scale-110"
                src="/images/tatuaze.png"
              />
            </div>
            <p class="text-center text-2xl font-semibold uppercase">Tatuaże</p>
          </div>
          <div class="flex flex-col justify-between gap-y-8">
            <div
              class="flex h-48 w-48 items-center justify-center rounded-full bg-accent"
            >
              <img
                class="cursor-pointer p-12 transition-transform hover:scale-110"
                src="/images/piercing.png"
              />
            </div>
            <p class="text-center text-2xl font-semibold uppercase">Piercing</p>
          </div>
        </div>
      </section>

      <section id="galeria">
        <h2 class="mb-4 text-5xl font-extrabold tracking-wide text-accent">
          Nasze Prace
        </h2>

        <div
          *ngIf="images.length"
          class="grid grid-cols-2 gap-4 md:grid-cols-3"
        >
          <div
            *ngFor="let image of images.slice(0, 6); let last = last"
            class="relative overflow-hidden"
          >
            <div class="group h-full w-full cursor-pointer">
              <img
                class="h-full w-full transform object-cover transition-transform duration-300"
                [class.group-hover:scale-105]="!last"
                [src]="image.path"
                alt="{{ image.artist }}"
              />

              <div
                class="absolute bottom-0 left-0 w-full bg-gradient-to-t from-background p-2 pt-16"
              >
                <p
                  class="transition-colors group-hover:text-accent hover:underline"
                >
                  {{ image.artist }}
                </p>
              </div>
            </div>

            <div
              *ngIf="last && images.length > 6"
              class="absolute inset-0 z-10 flex flex-col items-center justify-center gap-y-4 bg-black/50"
            >
              <span class="text-5xl text-white">+{{ images.length - 6 }}</span>
              <a
                routerLink="/galeria"
                class="inline-block transform cursor-pointer bg-accent px-4 py-2 font-semibold uppercase text-background transition-transform hover:scale-105 focus:scale-105 focus:outline-none"
              >
                Zobacz Wszystkie
              </a>
            </div>
          </div>
        </div>
      </section>

      <section id="kontakt">
        <h2
          class="mb-8 text-center text-5xl font-extrabold tracking-wide text-accent"
        >
          Skontaktuj się z nami
        </h2>

        <div class="relative bg-zinc-900 p-8">
          <form class="flex flex-col items-center gap-4">
            <div class="flex w-full flex-col gap-2">
              <label for="name" class="text-lg font-medium text-accent"
                >Imię</label
              >
              <input
                type="text"
                id="name"
                class="border border-zinc-700 bg-background p-3 focus:border-accent focus:outline-none"
                placeholder="Twoje imię"
                required
              />
            </div>

            <div class="flex w-full flex-col gap-2">
              <label for="email" class="text-lg font-medium text-accent"
                >Email</label
              >
              <input
                type="email"
                id="email"
                class="border border-zinc-700 bg-background p-3 focus:border-accent focus:outline-none"
                placeholder="Twój email"
                required
              />
            </div>

            <div class="flex w-full flex-col gap-2">
              <label for="message" class="text-lg font-medium text-accent"
                >Wiadomość</label
              >
              <textarea
                id="message"
                rows="4"
                class="border border-zinc-700 bg-background p-3 focus:border-accent focus:outline-none"
                placeholder="Twoja wiadomość"
                required
              ></textarea>
            </div>

            <button
              type="submit"
              class="w-min transform whitespace-nowrap bg-accent px-8 py-3 text-lg font-semibold uppercase text-background transition-transform hover:scale-105 focus:scale-105 focus:outline-none"
            >
              Wyślij
            </button>
          </form>
        </div>
      </section>

      <section id="opinie">
        <h2
          class="mb-8 text-center text-5xl font-extrabold tracking-wide text-accent"
        >
          Opinie
        </h2>

        <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
          <div
            *ngFor="let review of reviews"
            class="relative bg-zinc-900 p-4 flex flex-col"
          >
            <div class="flex justify-between items-center">
              <p class="text-accent font-bold">{{ review.name }}</p>
              <p class="text-xs text-zinc-400">{{ review.date }}</p>
            </div>
            <p class="text-sm text-zinc-400 mb-4">
              Ocena:
              <span class="font-semibold text-accent"
                >{{ review.rate }} / 5</span
              >
            </p>
            <p>{{ review.content }}</p>

            <button
              *ngIf="isLoggedIn && userReview?.id === review.id"
              (click)="deleteReview()"
              class="mt-4 transform bg-accent w-min whitespace-nowrap px-4 py-2 font-semibold uppercase text-background transition-transform hover:scale-105 focus:scale-105 focus:outline-none"
            >
              Usuń opinię
            </button>
          </div>
        </div>

        <p *ngIf="reviews.length === 0" class="mt-4 text-center text-lg">
          Brak opinii.
        </p>

        <ng-container *ngIf="isLoggedIn; else loginPrompt">
          <ng-container *ngIf="!userReview; else existingReview">
            <div class="mt-4 bg-zinc-900 p-8">
              <h3 class="mb-4 text-center text-2xl font-semibold text-accent">
                Dodaj swoją opinię
              </h3>

              <form
                class="flex flex-col items-center gap-4"
                (submit)="addReview(); $event.preventDefault()"
              >
                <div class="flex w-full flex-col gap-2">
                  <label for="rate" class="text-lg font-medium">Ocena</label>
                  <select
                    id="rate"
                    [(ngModel)]="newReviewRate"
                    class="border border-zinc-700 bg-background p-3 focus:border-accent focus:outline-none"
                    required
                    name="rate"
                  >
                    <option value="5">5 - Doskonała</option>
                    <option value="4">4 - Bardzo dobra</option>
                    <option value="3">3 - Dobra</option>
                    <option value="2">2 - Przeciętna</option>
                    <option value="1">1 - Słaba</option>
                  </select>
                </div>

                <div class="flex w-full flex-col gap-2">
                  <label for="content" class="text-lg font-medium"
                    >Opinia</label
                  >
                  <textarea
                    id="content"
                    rows="4"
                    [(ngModel)]="newReviewContent"
                    class="border border-zinc-700 bg-background p-3 focus:border-accent focus:outline-none"
                    required
                    name="content"
                  ></textarea>
                </div>

                <button
                  type="submit"
                  class="w-min transform whitespace-nowrap bg-accent px-8 py-3 text-lg font-semibold uppercase text-background transition-transform hover:scale-105 focus:scale-105 focus:outline-none"
                >
                  Dodaj Opinię
                </button>
              </form>
            </div>
          </ng-container>
        </ng-container>

        <ng-template #existingReview>
          <div class="mt-4 bg-zinc-900 p-8 text-center text-lg text-zinc-400">
            Już dodałeś swoją opinię.
          </div>
        </ng-template>

        <ng-template #loginPrompt>
          <div class="mt-4 bg-zinc-900 p-8 text-center">
            <p class="text-lg text-accent mb-4">
              Zaloguj się, aby dodać opinię.
            </p>
            <button
              (click)="openAuthModal()"
              class="transform bg-accent px-6 py-3 text-lg font-semibold uppercase text-background transition-transform hover:scale-105 focus:scale-105 focus:outline-none"
            >
              Zaloguj się
            </button>
          </div>
        </ng-template>
      </section>
    </div>
  </main>

  <app-auth *ngIf="isAuthModalOpen" (closeModal)="closeAuthModal()"></app-auth>

  <app-footer [scrollToSection]="scrollToSection"></app-footer>
</div>

<router-outlet />
