<div
  class="fixed left-0 top-0 z-50 flex h-full w-full items-center justify-center bg-black/75"
>
  <form
    class="relative flex w-96 flex-col border border-zinc-800 bg-background p-8"
    (ngSubmit)="isLoginView ? login() : register()"
  >
    <button class="absolute right-2 top-2" (click)="close()" type="button">
      ✕
    </button>

    <!-- Login View -->
    <div class="flex flex-col gap-y-4" *ngIf="isLoginView">
      <h1 class="text-center text-2xl font-bold uppercase text-accent">
        Logowanie
      </h1>

      <p *ngIf="errorMessage" class="text-red-500">{{ errorMessage }}</p>

      <div class="flex flex-col">
        <label for="email">Email</label>
        <input
          id="email"
          name="email"
          type="email"
          [(ngModel)]="email"
          class="border bg-zinc-900 p-2 focus:border-accent focus:outline-none"
          autocomplete="email"
          aria-label="Email"
          required
        />
      </div>

      <div class="flex flex-col relative">
        <label for="password">Hasło</label>
        <input
          id="password"
          name="password"
          [type]="isPasswordVisible ? 'text' : 'password'"
          [(ngModel)]="password"
          class="border bg-zinc-900 p-2 focus:border-accent focus:outline-none"
          autocomplete="current-password"
          aria-label="Hasło"
          required
        />
        <button
          type="button"
          class="absolute right-2 top-9 text-zinc-400 hover:text-accent"
          (click)="togglePasswordVisibility()"
        >
          {{ isPasswordVisible ? "Ukryj" : "Pokaż" }}
        </button>
      </div>

      <button
        type="submit"
        class="bg-accent px-4 py-2 text-lg font-bold uppercase text-background transition-all hover:scale-105 focus-visible:scale-105 focus-visible:outline-none"
      >
        Zaloguj
      </button>
    </div>
  </form>
</div>
