<div
  class="mx-auto mt-20 flex max-w-[1400px] flex-col gap-y-6 p-6 bg-dark text-white"
>
  <div *ngIf="isAdmin" class="flex justify-center">
    <button
      (click)="openModal()"
      class="w-min transform whitespace-nowrap bg-accent px-6 py-4 text-lg font-semibold uppercase text-background transition-transform hover:scale-105 focus:scale-105 focus:outline-none"
    >
      Dodaj Artystę
    </button>
  </div>

  <app-upload-artist-modal
    *ngIf="isModalOpen"
    (close)="closeModal()"
  ></app-upload-artist-modal>

  <section id="artysci">
    <h2
      class="mb-8 text-center text-5xl font-extrabold tracking-widest text-accent"
    >
      Nasi Artyści
    </h2>

    <div class="grid grid-cols-1 gap-8 lg:grid-cols-2" *ngIf="artists.length">
      <a
        *ngFor="let artist of artists"
        [routerLink]="['/artysci', artist.id]"
        class="group flex cursor-pointer items-center gap-x-8 bg-zinc-900 p-4"
      >
        <div class="flex h-32 w-32 overflow-hidden rounded-full">
          <img
            class="h-full w-full object-cover transition-transform group-hover:scale-105"
            [src]="artist.profileImageUrl"
            alt="{{ artist.name }} {{ artist.surname }}"
          />
        </div>

        <p class="text-3xl font-bold transition-colors group-hover:text-accent">
          {{ artist.name }} {{ artist.surname }}
        </p>
      </a>
    </div>
  </section>
</div>
