<div class="mx-auto mt-20 flex max-w-[1400px] flex-col gap-y-16 p-4">
  <section id="faq">
    <h2
      class="mb-6 text-center text-4xl font-bold tracking-wide text-accent underline decoration-4 underline-offset-[6px] sm:text-5xl"
    >
      FAQ
    </h2>
    <div *ngFor="let category of rules; let i = index">
      <h2
        class="mb-2 text-2xl font-bold leading-tight tracking-wide text-accent sm:text-3xl"
      >
        {{ category.category }}
      </h2>
      <ul class="text-lg md:text-xl mb-8">
        <li *ngFor="let question of category.questions; let j = index">
          <div
            (click)="toggleAnswer(i * 100 + j)"
            class="flex cursor-pointer justify-between bg-zinc-900 p-4 transition-colors hover:bg-zinc-800"
          >
            {{ question.question }}
            <span
              class="h-min transform text-accent transition-transform"
              [ngClass]="{
                'rotate-180': openedIndex === i * 100 + j
              }"
            >
              ▼
            </span>
          </div>
          <div
            *ngIf="openedIndex === i * 100 + j"
            class="bg-zinc-800 p-4 text-sm leading-relaxed text-zinc-300 md:text-base"
          >
            {{ question.answer }}
          </div>
        </li>
      </ul>
    </div>

    <h2
      class="mb-2 text-2xl font-bold leading-tight tracking-wide text-accent sm:text-3xl"
    >
      Pamiętaj
    </h2>

    <div class="bg-zinc-900 p-4 space-y-4">
      <ul
        class="list-disc space-y-1 pl-5 text-base text-zinc-300 marker:text-accent sm:text-lg"
      >
        <li>
          Zaufanie do tatuatora jest bardzo ważne. Wybierz takiego, który
          wzbudza w Tobie zaufanie i którego styl Ci odpowiada.
        </li>
        <li>
          Przygotuj się na sesję. Odpowiednie przygotowanie pozwoli Ci cieszyć
          się pięknym tatuażem przez wiele lat.
        </li>
        <li>
          Zadawaj pytania. Nie bój się pytać o wszystko, co Cię interesuje.
          Dobry tatuator chętnie odpowie na wszystkie Twoje pytania.
        </li>
      </ul>
    </div>
  </section>
</div>
