<div class="relative">
  <img
    src="/images/banner.png"
    class="h-dvh w-full min-w-full object-cover object-center brightness-50"
  />

  <div class="absolute inset-0 flex flex-col justify-end">
    <div
      class="flex w-full flex-col items-center justify-center bg-gradient-to-b from-transparent to-background p-16"
    >
      <button
        (click)="scrollToSection('o-nas')"
        class="transform bg-accent px-6 py-4 text-lg font-semibold uppercase text-background transition duration-200 hover:scale-105 focus:scale-105 focus-visible:outline-none"
      >
        Poznaj nas!
      </button>
    </div>
  </div>
</div>

<div class="mx-auto flex max-w-[1400px] flex-col gap-y-16 p-4">
  <section id="o-nas">
    <div class="relative mt-8 w-full border-2 border-accent bg-background">
      <div
        class="relative mx-auto flex flex-col gap-4 bg-gradient-to-b from-black/60 to-transparent p-4"
      >
        <div>
          <h2
            class="mb-4 text-4xl sm:text-5xl font-bold leading-normal tracking-wide text-accent underline underline-offset-8"
          >
            O Pracowni Kolektyw
          </h2>
          <p class="leading-relaxed sm:text-xl">
            Pracownia Kolektyw to miejsce, w którym pasja do sztuki tatuażu
            spotyka się z indywidualnym podejściem do każdego klienta. Nasz
            zespół doświadczonych artystów tworzy unikatowe projekty, zawsze
            dopasowane do Twoich potrzeb.
          </p>
        </div>

        <div>
          <h3 class="mb-2 text-3xl font-semibold text-accent sm:text-4xl">
            Nasza Misja
          </h3>
          <p class="leading-relaxed sm:text-lg">
            Pragniemy, by każdy tatuaż opowiadał wyjątkową historię. Od
            koncepcji po wykonanie, dbamy o każdy detal, oferując pełne wsparcie
            na każdym etapie. Gwarantujemy profesjonalizm i bezpieczeństwo przy
            realizacji każdego projektu.
          </p>
        </div>

        <div>
          <h3 class="mb-2 text-3xl font-semibold text-accent sm:text-4xl">
            Dlaczego my?
          </h3>
          <p class="leading-relaxed sm:text-lg">
            W Pracowni Kolektyw stawiamy na jakość, precyzję i niepowtarzalność.
            W przyjaznej atmosferze tworzymy nie tylko tatuaże, ale wyjątkowe
            dzieła sztuki, które towarzyszą Ci przez całe życie.
          </p>
        </div>

        <div class="mt-6">
          <a
            [routerLink]="['/o-nas']"
            class="inline-block transform bg-accent px-6 py-4 text-lg font-semibold uppercase text-background transition duration-200 hover:scale-105 focus:scale-105 focus-visible:outline-none"
          >
            Dowiedz się więcej
          </a>
        </div>
      </div>

      <div
        class="absolute inset-0 -z-10 h-full w-full rotate-2 border-2 border-accent sm:rotate-3"
      ></div>
    </div>
  </section>

  <section
    class="flex h-[600px] flex-col items-center justify-center"
    id="usługi"
  >
    <h2
      class="mb-12 text-center text-4xl font-bold tracking-wide text-accent underline underline-offset-8 sm:text-5xl"
    >
      Nasze Usługi
    </h2>
    <div class="flex flex-wrap items-center justify-center gap-8 md:gap-16">
      <a [routerLink]="['/uslugi/tatuaze']" class="flex flex-col items-center">
        <div
          class="mb-4 flex h-32 w-32 items-center justify-center rounded-full bg-accent p-8 sm:h-40 sm:w-40 md:h-48 md:w-48"
        >
          <img
            class="cursor-pointer transition duration-200 hover:scale-110"
            src="/images/tatuaze.png"
            alt="Tatuaże"
          />
        </div>
        <p class="text-center text-xl font-semibold uppercase md:text-2xl">
          Tatuaże
        </p>
      </a>
      <a [routerLink]="['/uslugi/piercing']" class="flex flex-col items-center">
        <div
          class="mb-4 flex h-32 w-32 items-center justify-center rounded-full bg-accent p-8 sm:h-40 sm:w-40 md:h-48 md:w-48"
        >
          <img
            class="cursor-pointer transition duration-200 hover:scale-110"
            src="/images/piercing.png"
            alt="Piercing"
          />
        </div>
        <p class="text-center text-xl font-semibold uppercase md:text-2xl">
          Piercing
        </p>
      </a>
    </div>
  </section>

  <section id="galeria">
    <h2
      class="mb-6 text-center text-4xl font-bold tracking-wide text-accent underline underline-offset-8 sm:text-5xl"
    >
      Nasze Prace
    </h2>

    <div *ngIf="images.length" class="grid grid-cols-2 gap-4 md:grid-cols-4">
      <div
        *ngFor="let image of images.slice(0, 8); let last = last"
        class="relative overflow-hidden"
      >
        <div class="group h-full w-full cursor-pointer aspect-[3/4]">
          <img
            class="h-full w-full transform object-cover transition-transform duration-300 group-hover:scale-105"
            [src]="image.imageUrl"
            alt="{{ image.artistId }}"
          />

          <div
            class="absolute bottom-0 left-0 w-full bg-gradient-to-t from-background p-2 pt-16"
          >
            <a
              [routerLink]="['/artysci', image.artistId]"
              class="w-min whitespace-nowrap transition-colors hover:underline group-hover:text-accent"
            >
              {{ getArtistFullName(image.artistId) }}
            </a>
          </div>
        </div>

        <div
          *ngIf="last && images.length > 8"
          class="absolute inset-0 z-10 flex flex-col items-center justify-center gap-y-4 bg-black/50"
        >
          <span class="text-5xl text-white">+{{ images.length - 8 }}</span>
          <a
            [routerLink]="['/galeria']"
            class="inline-block transform cursor-pointer bg-accent px-4 py-2 font-semibold uppercase text-background transition duration-200 hover:scale-105 focus:scale-105 focus-visible:outline-none"
          >
            Zobacz Wszystkie
          </a>
        </div>
      </div>
    </div>
  </section>

  <app-artists-section></app-artists-section>

  <section id="kontakt">
    <h2
      class="mb-4 text-center text-4xl font-bold leading-normal tracking-wide text-accent underline underline-offset-8 sm:text-5xl"
    >
      Skontaktuj się z nami
    </h2>

    <app-contact-form></app-contact-form>
  </section>

  <section id="opinie">
    <h2
      class="mb-4 text-center text-4xl font-bold leading-normal tracking-wide text-accent underline underline-offset-8 sm:text-5xl"
    >
      Opinie
    </h2>

    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      <div
        *ngFor="let review of reviews"
        class="relative flex flex-col bg-zinc-900 p-4"
      >
        <div class="flex justify-between items-center">
          <p class="font-bold text-accent">{{ review.name }}</p>
          <p class="text-xs text-zinc-400">{{ review.date }}</p>
        </div>
        <p class="mb-4 text-sm text-zinc-400">
          Ocena:
          <span class="font-semibold text-accent">{{ review.rate }} / 5</span>
        </p>
        <p>{{ review.content }}</p>

        <button
          *ngIf="isLoggedIn && (userReview?.id === review.id || isAdmin)"
          (click)="review.id && deleteReview(review.id)"
          class="mt-4 w-min transform whitespace-nowrap bg-accent px-4 py-2 font-semibold uppercase text-background transition-transform hover:scale-105 focus:scale-105 focus:outline-none"
        >
          Usuń opinię
        </button>
      </div>
    </div>

    <p *ngIf="reviews.length === 0" class="mt-4 text-center text-lg">
      Brak opinii.
    </p>

    <ng-container *ngIf="!isAdmin">
      <ng-container *ngIf="!userReview; else existingReview">
        <div class="mt-4 bg-zinc-900 p-4 sm:p-8">
          <h3 class="mb-4 text-center text-2xl font-semibold text-accent">
            Dodaj swoją opinię
          </h3>

          <form
            class="flex flex-col items-center gap-4"
            (submit)="addReview(); $event.preventDefault()"
          >
            <div class="flex w-full flex-col gap-2">
              <label for="rate" class="text-lg font-medium">Ocena</label>
              <select
                id="rate"
                [(ngModel)]="newReviewRate"
                class="border border-zinc-700 bg-background p-3 focus:border-accent focus:outline-none"
                required
                name="rate"
              >
                <option value="5">5 - Doskonała</option>
                <option value="4">4 - Bardzo dobra</option>
                <option value="3">3 - Dobra</option>
                <option value="2">2 - Przeciętna</option>
                <option value="1">1 - Słaba</option>
              </select>
            </div>

            <div class="flex w-full flex-col gap-2">
              <label for="content" class="text-lg font-medium">Opinia</label>
              <textarea
                id="content"
                rows="4"
                [(ngModel)]="newReviewContent"
                class="border border-zinc-700 bg-background p-3 focus:border-accent focus:outline-none"
                required
                name="content"
              ></textarea>
            </div>

            <button
              type="submit"
              class="w-min transform whitespace-nowrap bg-accent px-8 py-3 text-lg font-semibold uppercase text-background transition-transform hover:scale-105 focus:scale-105 focus:outline-none"
            >
              Dodaj Opinię
            </button>
          </form>
        </div>
      </ng-container>
    </ng-container>

    <ng-template #existingReview>
      <div class="mt-4 bg-zinc-900 p-8 text-center text-lg text-zinc-400">
        Już dodałeś swoją opinię.
      </div>
    </ng-template>

    <ng-template #loginPrompt>
      <div class="mt-4 bg-zinc-900 p-8 text-center">
        <p class="text-lg text-accent mb-4">Zaloguj się, aby dodać opinię.</p>
        <button
          (click)="openModal()"
          class="transform bg-accent px-6 py-3 text-lg font-semibold uppercase text-background transition-transform hover:scale-105 focus:scale-105 focus:outline-none"
        >
          Zaloguj się
        </button>
      </div>
    </ng-template>
  </section>
</div>
