<footer class="bg-zinc-900">
  <div
    class="mx-auto flex max-w-[1400px] flex-col justify-between gap-6 p-6 md:flex-row md:gap-16"
  >
    <div
      class="flex flex-col items-center gap-4 md:items-start w-full md:w-min whitespace-nowrap"
    >
      <img
        src="/images/logo-2.png"
        class="hidden w-48 md:block"
        alt="Logo Salon Tatużu"
      />
      <img
        src="/images/logo.png"
        class="block w-48 md:hidden"
        alt="Logo Salon Tatużu"
      />

      <div class="flex gap-4">
        <a
          target="_blank"
          href="https://www.facebook.com/pracowniakolektyw/"
          aria-label="Facebook"
        >
          <app-facebook-icon
            class="transition-colors hover:text-accent"
            size="32px"
          ></app-facebook-icon>
        </a>
        <a
          target="_blank"
          href="https://www.instagram.com/pracowniakolektyw/"
          aria-label="Instagram"
        >
          <app-instagram-icon
            class="transition-colors hover:text-accent"
            size="32px"
          ></app-instagram-icon>
        </a>
      </div>

      <ul
        class="flex flex-col gap-2 text-center text-lg leading-normal text-white md:text-start"
      >
        <li>
          <p class="font-semibold">Poniedziałek - Piątek</p>
          <p class="text-muted">11:00 - 18:00</p>
        </li>
        <li>
          <p class="font-semibold">Sobota</p>
          <p class="text-muted">12:00 - 16:00</p>
        </li>
        <li>
          <p class="font-semibold">Niedziela</p>
          <p class="text-muted">Zamknięte</p>
        </li>
      </ul>
    </div>

    <div
      class="grid grid-cols-1 gap-6 text-center md:grid-cols-2 md:gap-16 md:text-left xl:grid-cols-[repeat(4,_auto)]"
    >
      <div class="flex flex-col gap-2">
        <h2 class="text-xl font-bold">Kontakt</h2>
        <ul class="space-y-1 leading-normal text-muted">
          <li>
            <a
              class="text-muted hover:text-white hover:underline"
              routerLink="/kontakt"
            >
              Formularz Kontaktowy
            </a>
          </li>
          <li>
            <a
              target="_blank"
              class="text-muted hover:text-white hover:underline"
              href="https://www.google.pl/maps/place/Pracownia+Kolektyw/@50.872099,20.6219422,17z/data=!4m6!3m5!1s0x4718275674803dab:0x67ef9f09cacad38c!8m2!3d50.872099!4d20.6245171!16s%2Fg%2F11fpyw_kbb?entry=ttu&g_ep=EgoyMDI0MTAxMy4wIKXMDSoASAFQAw%3D%3D"
              >Henryka Sienkiewicza 45, 25-005 Kielce</a
            >
          </li>
          <li>
            <a
              class="text-muted hover:text-white hover:underline"
              href="tel:+48 576 028 525"
              >+48 576 028 525</a
            >
          </li>
          <li>
            <a
              class="text-muted hover:text-white hover:underline"
              href="mailto:admkopacz@gmail.com"
              >admkopacz&#64;gmail.com</a
            >
          </li>
        </ul>
      </div>

      <div class="flex flex-col gap-2">
        <h2 class="text-xl font-bold">Przydatne Linki</h2>
        <ul class="space-y-1 leading-normal">
          <li>
            <a
              routerLink="/artysci"
              class="text-muted hover:text-white hover:underline"
              >Zespół Artystów</a
            >
          </li>
          <li>
            <a
              routerLink="/galeria"
              class="text-muted hover:text-white hover:underline"
              >Galeria Tatuaży</a
            >
          </li>
          <li>
            <a
              routerLink="/style"
              class="text-muted hover:text-white hover:underline"
              >Style Tatuażu</a
            >
          </li>
          <li>
            <a
              routerLink="/bezpieczenstwo-i-higiena"
              class="text-muted hover:text-white hover:underline"
              >Bezpieczenstwo i Higiena</a
            >
          </li>
          <li>
            <a
              routerLink="/faq"
              class="text-muted hover:text-white hover:underline"
              >FAQ</a
            >
          </li>
        </ul>
      </div>

      <div class="flex flex-col gap-2">
        <h2 class="text-xl font-bold">Polityka Prywatności</h2>
        <ul class="space-y-1 leading-normal">
          <li>
            <a
              routerLink="/polityka-prawnosci"
              class="text-muted hover:text-white hover:underline"
              >Polityka Prywatności</a
            >
          </li>
          <li>
            <a
              routerLink="/regulamin"
              class="text-muted hover:text-white hover:underline"
              >Regulamin</a
            >
          </li>
        </ul>
      </div>

      <div class="flex flex-col gap-2">
        <h2 class="text-xl font-bold">Nasze usługi</h2>
        <ul class="space-y-1 leading-normal">
          <li>
            <a
              routerLink="/uslugi/tatuaze"
              class="text-muted hover:text-white hover:underline"
              >Tatuaże</a
            >
          </li>
          <li>
            <a
              routerLink="/uslugi/piercing"
              class="text-muted hover:text-white hover:underline"
              >Piercing</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
