<div
  class="fixed left-0 top-0 z-20 flex h-dvh w-full flex-col items-center justify-center transition duration-500 bg-black/50 backdrop-blur-lg"
>
  <div
    class="relative flex w-96 flex-col border border-zinc-800 bg-background rounded p-4"
  >
    <button class="absolute right-2 top-2" (click)="close()" type="button">
      ✕
    </button>

    <!-- Login View -->
    <form
      class="flex flex-col gap-y-4"
      *ngIf="isLoginView"
      (submit)="login($event, emailField.value, passwordField.value)"
    >
      <h2 class="text-center text-2xl font-bold uppercase text-accent">
        Logowanie
      </h2>

      <div class="flex flex-col space-y-1">
        <label for="email" class="text-sm font-medium text-muted">Email</label>
        <input
          id="email"
          #emailField
          name="email"
          type="email"
          class="rounded border bg-zinc-950 p-2 pr-8 focus:border-accent focus:outline-none"
          autocomplete="email"
          aria-label="Email"
          required
        />
      </div>

      <div class="flex flex-col space-y-1">
        <label for="password" class="text-sm font-medium text-muted"
          >Hasło</label
        >
        <div class="w-full relative flex items-center">
          <input
            id="password"
            #passwordField
            name="password"
            [type]="isPasswordVisible ? 'text' : 'password'"
            class="w-full rounded border bg-zinc-950 p-2 pr-16 focus:border-accent focus:outline-none"
            autocomplete="new-password"
            required
            minlength="8"
            (input)="onPasswordInput(passwordField.value)"
          />

          <button
            type="button"
            class="absolute right-2 text-zinc-500 hover:text-white transition-colors"
            (click)="togglePasswordVisibility()"
          >
            <app-show-icon
              *ngIf="isPasswordVisible"
              size="24px"
            ></app-show-icon>
            <app-hide-icon
              *ngIf="!isPasswordVisible"
              size="24px"
            ></app-hide-icon>
          </button>
        </div>
      </div>

      <button
        type="submit"
        class="whitespace-nowrap rounded bg-accent px-6 py-3 text-sm font-semibold text-background transition-all hover:scale-105 disabled:scale-100 disabled:opacity-50 md:w-auto md:text-base"
      >
        Zaloguj
      </button>
      <button
        type="button"
        class="cursor-pointer rounded border border-primary px-6 py-3 text-sm font-semibold text-primary transition-all hover:scale-105 hover:bg-primary hover:text-background md:w-auto md:text-base"
        (click)="toggleView()"
      >
        Załóż konto
      </button>
    </form>

    <!-- Register View -->
    <form
      class="flex flex-col gap-y-4"
      *ngIf="!isLoginView"
      (submit)="
        register(
          $event,
          firstNameField.value,
          lastNameField.value,
          emailField.value,
          passwordField.value
        )
      "
    >
      <h2 class="text-center text-2xl font-bold uppercase text-accent">
        Rejestracja
      </h2>

      <div class="flex flex-col space-y-1">
        <label class="text-sm font-medium text-muted" for="firstName"
          >Imię</label
        >
        <input
          id="firstName"
          #firstNameField
          name="firstName"
          type="text"
          class="rounded border bg-zinc-950 p-2 pr-8 focus:border-accent focus:outline-none"
          required
          minlength="2"
        />
      </div>

      <div class="flex flex-col space-y-1">
        <label class="text-sm font-medium text-muted" for="lastName"
          >Nazwisko</label
        >
        <input
          id="lastName"
          #lastNameField
          name="lastName"
          type="text"
          class="rounded border bg-zinc-950 p-2 pr-8 focus:border-accent focus:outline-none"
          required
          minlength="2"
        />
      </div>

      <div class="flex flex-col space-y-1">
        <label class="text-sm font-medium text-muted" for="email">Email</label>
        <input
          id="email"
          #emailField
          name="email"
          type="email"
          class="rounded border bg-zinc-950 p-2 pr-8 focus:border-accent focus:outline-none"
          required
        />
      </div>

      <div class="flex flex-col space-y-1">
        <label class="text-sm font-medium text-muted" for="password"
          >Hasło</label
        >
        <div class="w-full relative flex items-center">
          <input
            id="password"
            #passwordField
            name="password"
            [type]="isPasswordVisible ? 'text' : 'password'"
            class="w-full rounded border bg-zinc-950 p-2 pr-16 focus:border-accent focus:outline-none"
            autocomplete="new-password"
            required
            minlength="8"
            (input)="onPasswordInput(passwordField.value)"
          />

          <button
            type="button"
            class="absolute right-2 text-zinc-500 hover:text-white transition-colors"
            (click)="togglePasswordVisibility()"
          >
            <app-show-icon
              *ngIf="isPasswordVisible"
              size="24px"
            ></app-show-icon>
            <app-hide-icon
              *ngIf="!isPasswordVisible"
              size="24px"
            ></app-hide-icon>
          </button>
        </div>
      </div>

      <button
        type="submit"
        class="whitespace-nowrap rounded bg-accent px-6 py-3 text-sm font-semibold text-background transition-all hover:scale-105 disabled:scale-100 disabled:opacity-50 md:w-auto md:text-base"
      >
        Załóż konto
      </button>

      <div class="text-center">
        <span class="text-muted">Masz już konto? </span>
        <button
          type="button"
          class="hover:text-accent hover:underline"
          (click)="toggleView()"
        >
          Zaloguj się
        </button>
      </div>
    </form>
  </div>
</div>
