<nav
  class="fixed top-0 z-30 h-14 w-full transition duration-500"
  [ngClass]="{
    'bg-background shadow-xl': isSidebarOpen || isScrolled,
    'bg-transparent': !isSidebarOpen && !isScrolled
  }"
>
  <div
    class="mx-auto flex h-full w-full max-w-[1400px] items-center justify-between px-4"
  >
    <ul class="hidden w-full items-center gap-x-4 sm:flex">
      <li
        class="group relative"
        *ngFor="let link of links"
        [title]="link.title"
      >
        <a
          routerLinkActive="text-accent underline underline-offset-2"
          [routerLink]="link.href"
          [routerLinkActiveOptions]="{ exact: true }"
          class="p-2 transition-colors hover:text-accent"
          >{{ link.title }}</a
        >
      </li>
      <li class="ml-auto">
        <button
          class="flex items-center justify-center rounded px-3 py-1 text-accent transition hover:bg-accent hover:text-background"
          (click)="openModal.emit()"
          *ngIf="!isLoggedIn"
        >
          Zaloguj
        </button>
        <button
          class="flex items-center justify-center rounded px-3 py-1 text-accent transition hover:bg-accent hover:text-background"
          (click)="logout()"
          *ngIf="isLoggedIn"
        >
          Wyloguj
        </button>
      </li>
    </ul>
    <app-menu-toggle (toggleSidebar)="toggleSidebar()"></app-menu-toggle>
  </div>
</nav>

<app-sidebar
  [isLoggedIn]="isLoggedIn"
  [isOpen]="isSidebarOpen"
  [links]="links"
  (closeSidebar)="closeSidebar()"
  (login)="openModal.emit()"
  (logout)="logout()"
  (openAuthModal)="openModal.emit()"
></app-sidebar>
