<div class="mx-auto mt-20 flex max-w-[1400px] flex-col gap-y-16 p-4">
  <section id="style-tatuazu" class="text-center">
    <h2 class="mb-2 text-3xl font-bold text-primary md:mb-4 md:text-5xl">
      Style Tatuażu
    </h2>
    <p class="mb-10 max-w-lg mx-auto text-sm italic text-muted md:text-base">
      Odkryj różnorodność nowoczesnych stylów tatuażu. Każdy styl oferuje
      unikalne możliwości wyrażenia siebie i tworzenia wyjątkowych dzieł sztuki
      na skórze.
    </p>
    <ul class="space-y-8">
      <li *ngFor="let style of styles" class="group flex flex-col gap-y-1">
        <h3 class="text-2xl font-semibold text-accent">
          {{ style.name }}
        </h3>
        <p class="max-w-lg mx-auto text-sm text-muted md:text-base">
          {{ style.description }}
        </p>
      </li>
    </ul>
  </section>
</div>
