<div class="mx-auto flex max-w-[1400px] flex-col gap-y-16 p-4 mt-20">
  <section id="intro" class="text-center">
    <h2
      class="text-5xl font-extrabold tracking-wide text-accent mb-4 underline underline-offset-8"
    >
      Tatuaże
    </h2>
    <p class="text-xl leading-relaxed max-w-2xl mx-auto">
      Nasze tatuaże to wyjątkowa sztuka, która podkreśla Twoją indywidualność.
      Stworzone z pasją i precyzją, projekty dostosowujemy do Twoich potrzeb i
      osobowości, dbając o każdy detal na każdym etapie.
    </p>
  </section>

  <section id="process" class="text-center p-6">
    <h3 class="text-3xl font-semibold text-accent mb-2">Proces Tworzenia</h3>
    <p class="text-lg leading-relaxed max-w-2xl mx-auto">
      Każdy tatuaż zaczynamy od konsultacji, aby poznać Twoje oczekiwania.
      Tworzymy projekt zgodnie z Twoją wizją, dbając o każdy detal. Na każdym
      etapie dbamy o komfort i zadowolenie.
    </p>
  </section>

  <section id="tips" class="p-8">
    <h3 class="text-3xl font-semibold text-accent mb-2 text-center">
      Porady Przed i Po Zabiegu
    </h3>
    <p class="text-lg leading-relaxed mb-4 text-center max-w-2xl mx-auto">
      Przygotowanie do zabiegu jest ważne – zadbaj o odpowiedni wypoczynek i
      unikaj alkoholu. Po wykonaniu tatuażu otrzymasz wskazówki dotyczące jego
      pielęgnacji, aby zapewnić optymalne gojenie.
    </p>
    <ul
      class="list-disc pl-6 text-lg leading-relaxed max-w-2xl mx-auto space-y-2"
    >
      <li>
        Przed sesją tatuażu dobrze się wyśpij i zjedz pełnowartościowy posiłek.
      </li>
      <li>
        Unikaj alkoholu i leków przeciwzapalnych na 24 godziny przed wizytą.
      </li>
      <li>
        Pamiętaj o odpowiedniej pielęgnacji i stosowaniu zaleconych kosmetyków
        po zabiegu.
      </li>
    </ul>
  </section>

  <section id="portfolio" class="mt-16">
    <h3
      class="text-3xl font-semibold text-accent mb-4 text-center underline underline-offset-8"
    >
      Portfolio
    </h3>
    <div class="grid grid-cols-2 gap-4 md:grid-cols-3">
      <div *ngFor="let image of tattooImages" class="relative overflow-hidden">
        <img
          class="h-full w-full object-cover transition-transform duration-300 hover:scale-105"
          [src]="image.imageUrl"
          alt="Tatuaż {{ getArtistFullName(image.artistId) }}"
        />
      </div>
    </div>
    <div class="mt-6 text-center">
      <a
        routerLink="/galeria"
        class="inline-block transform bg-accent px-6 py-4 text-lg font-semibold uppercase text-background transition-transform hover:scale-105 focus:scale-105 focus:outline-none"
      >
        Zobacz Więcej
      </a>
    </div>
  </section>

  <section id="artists" class="mt-16">
    <h3
      class="text-3xl font-semibold text-accent mb-4 text-center underline underline-offset-8"
    >
      Nasi Artyści
    </h3>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
      <div
        *ngFor="let artist of tattooArtists"
        class="flex items-center gap-x-8 bg-zinc-900 p-6"
      >
        <img
          [src]="artist.profileImageUrl"
          alt="{{ artist.name }} {{ artist.surname }}"
          class="h-32 w-32 rounded-full object-cover"
        />
        <div>
          <p class="text-2xl font-semibold text-accent mb-1">
            {{ artist.name }} {{ artist.surname }}
          </p>
          <p class="text-lg leading-relaxed">
            {{ artist.biography }}
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
