<div
  class="fixed left-0 top-0 z-50 flex h-full w-full items-center justify-center bg-black/75"
>
  <div
    class="relative flex w-96 flex-col border border-zinc-800 bg-background p-8"
  >
    <button class="absolute right-2 top-2" (click)="closeModal()">✕</button>

    <div class="flex flex-col gap-y-4">
      <h2 class="text-center text-2xl font-bold uppercase text-accent">
        Dodaj Artystę
      </h2>

      <form
        class="flex flex-col gap-y-4"
        [formGroup]="artistForm"
        (ngSubmit)="onUpload()"
      >
        <ngx-file-drop
          dropZoneClassName="border border-2 border-dashed border-accent bg-zinc-900 p-4"
          dropZoneLabel="Dodaj zdjęcie profilowe"
          (onFileDrop)="onFileDropped($event)"
        >
          <ng-template
            ngx-file-drop-content-tmp
            let-openFileSelector="openFileSelector"
          >
            <div class="space-y-4 text-center">
              <p class="text-zinc-400">Dodaj zdjęcie profilowe</p>
              <button
                type="button"
                class="mt-2 bg-accent px-4 py-2 text-background"
                (click)="openFileSelector()"
              >
                Przeglądaj pliki
              </button>
            </div>
          </ng-template>
        </ngx-file-drop>

        <div
          *ngIf="selectedFile"
          class="flex w-full items-center justify-between overflow-hidden"
        >
          <strong class="mr-2 flex-grow truncate">{{
            selectedFile.name
          }}</strong>
          <button
            type="button"
            (click)="removeFile()"
            class="text-red-500 hover:text-red-700 focus:outline-none"
          >
            ✕
          </button>
        </div>

        <input
          type="text"
          formControlName="firstName"
          placeholder="Imię"
          class="border bg-zinc-900 p-2 focus:border-accent focus:outline-none"
          required
        />
        <input
          type="text"
          formControlName="lastName"
          placeholder="Nazwisko"
          class="border bg-zinc-900 p-2 focus:border-accent focus:outline-none"
          required
        />
        <textarea
          formControlName="biography"
          placeholder="Biogram"
          class="border bg-zinc-900 p-2 focus:border-accent focus:outline-none"
        ></textarea>

        <select
          formControlName="category"
          class="border bg-zinc-900 p-2 focus:border-accent focus:outline-none"
          required
        >
          <option value="" disabled selected>Wybierz kategorię</option>
          <option value="piercing">Piercing</option>
          <option value="tattoo">Tattoo</option>
        </select>

        <button
          type="submit"
          class="bg-accent px-4 py-2 text-lg font-bold uppercase text-background transition-all"
          [disabled]="artistForm.invalid"
          [ngClass]="{
            'bg-zinc-800 cursor-not-allowed': artistForm.invalid,
            'bg-accent hover:scale-105': artistForm.valid
          }"
        >
          Prześlij
        </button>
      </form>
    </div>
  </div>
</div>
