@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

@layer base {
  :root {
    --color-background-rgb: 33, 33, 33;
    /* #212121 */
    --color-primary-rgb: 255, 255, 255;
    /* #ffffff */
    --color-accent-rgb: 191, 158, 50;
    /* #bf9e32 */
  }
}

body {
  background-color: rgb(var(--color-background-rgb));
  color: rgb(var(--color-primary-rgb));
  @apply font-sans;
}