<div class="h-dvh border-r-2 border-accent p-4 flex flex-col gap-y-6">
  <div class="hidden sm:flex justify-center">
    <img class="w-32 md:w-40" src="/images/logo-2.png" alt="Logo" />
  </div>

  <nav class="w-full flex-grow">
    <ul class="flex flex-col gap-y-6 sm:gap-y-4">
      <li *ngFor="let link of links">
        <a
          class="flex items-center gap-x-3 text-base font-medium hover:text-accent transition-transform transform hover:scale-105"
          [routerLink]="[link.href]"
        >
          <div class="text-accent">
            <ng-container
              *ngComponentOutlet="link.icon"
              size="20px"
            ></ng-container>
          </div>
          <span class="hidden sm:block uppercase tracking-wide">{{
            link.title
          }}</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="mt-auto">
    <a
      routerLink="/"
      class="flex items-center gap-x-2 justify-center bg-accent p-2 rounded-lg text-background font-semibold hover:bg-accent/90 hover:shadow-lg transition-all"
    >
      <app-exit-icon size="20px"></app-exit-icon>
      <span class="hidden sm:block">Wyjdź</span>
    </a>
  </div>
</div>
