<div class="h-screen border-r-2 border-accent p-4">
  <img class="hidden sm:block w-32 md:w-40 mb-4" src="/images/logo-2.png" />

  <div class="w-full">
    <ul class="flex flex-col gap-y-4 sm:gap-y-2">
      <li *ngFor="let link of links">
        <a
          class="hover:text-accent transition-colors flex items-center font-bold gap-x-2"
          [routerLink]="[link.href]"
        >
          <div class="sm:hidden">
            <ng-container
              *ngComponentOutlet="link.icon"
              size="12px"
            ></ng-container>
          </div>
          <span class="hidden sm:block text-lg uppercase">{{
            link.title
          }}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
