<section
  id="wprowadzenie"
  class="fade-in mt-60 flex w-full flex-col items-center justify-center text-center opacity-0 transition duration-700"
>
  <h2 class="mb-4 text-3xl font-bold text-primary md:text-5xl">
    Sztuka na Twoim ciele
  </h2>
  <p class="mb-6 max-w-lg text-sm italic text-muted md:text-base">
    Tworzymy dzieła, które opowiadają Twoją historię. Nasze studio to połączenie
    pasji, profesjonalizmu i indywidualnego podejścia do każdego projektu.
  </p>
  <div class="flex flex-wrap items-center justify-center gap-4">
    <a
      routerLink="/galeria"
      class="w-48 cursor-pointer whitespace-nowrap rounded bg-accent px-6 py-3 text-sm font-semibold text-background transition-all hover:scale-105 md:w-auto md:text-base"
    >
      Zobacz nasze portfolio
    </a>
    <a
      routerLink="/kontakt"
      class="w-48 cursor-pointer rounded border border-primary px-6 py-3 text-sm font-semibold text-primary transition-all hover:scale-105 hover:bg-primary hover:text-background md:w-auto md:text-base"
    >
      Skontaktuj się z nami
    </a>
  </div>
</section>
