<div class="mx-auto mt-20 flex max-w-[1400px] flex-col gap-y-16 p-4">
  <section class="text-left" id="regulamin">
    <h2
      class="mb-6 text-5xl font-bold tracking-wide text-accent underline underline-offset-8"
    >
      Regulamin Salonu
    </h2>
    <div class="bg-zinc-900 p-4 pl-6">
      <ol
        class="list-decimal pl-3 text-lg space-y-8 marker:text-accent marker:font-bold"
      >
        <li *ngFor="let rule of rules; let i = index">
          <div
            (click)="toggleAnswer(i)"
            class="cursor-pointer font-bold"
          >
            {{ rule.question }}
          </div>
          <div *ngIf="openedIndex === i" class="mt-2 text-white leading-tight">
            {{ rule.answer }}
          </div>
        </li>
      </ol>
    </div>
  </section>
</div>
